{% extends "tanks/base.html" %}

{% block title %}Modern Tanks of the World Videos{% endblock %}

{% block header %}Videos{% endblock %}

{% block content %}

<section id="videos">
    <div class="flex-container">
        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/4GG7iXZdYbg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/OwJK99uL1qY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</section>

{% endblock %}